body{
	font-family: "Helvetica Neue","arial","Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	list-style:none;
    margin: 0px auto;
    background: #f3f3f3;
    z-index: 1000;
    position: relative;
}

#screen{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.50);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 0;
}

.background-fixed{
	width: 100%;
	position: fixed;
	height: 100%;
	background-size: cover;
	background-image: url("/img/background/4.jpg");
	overflow-y: auto;
}

.login{
	width: 400px;
	height: auto;
	background: #fff;
	position: relative;
	top: 5vw;
	border-radius: 5px;
	color: #000;
}

.uk-margin{
	position: relative;
	left: 20%;
	top: 20px;
}

.ui{
	text-align: center;
	color: #000;
	font-size: 32px;
	padding: 0px;
	position: relative;
}

.login input{
	background: #ccc;
}

#logo{
	position: relative;
	text-align: center;
}

#resposta{
	width: 100%;
	background-color: #ffecd9;
    color: #faa200;
	text-align: center;
	font-size: 22px;
}

.header{
	position: fixed;
	width: 100%;
	height: 115px;
	background-color: #fff;
    border-bottom: 1px solid #d6dee5;
    z-index: 1000;
}

.header-align{
	width: 956px;
	position: relative;	
}

.header-align h1{
	padding: 20px;
	color: #0097dc;
	text-transform: uppercase;
}

.tabs{
	width: 100%;
	background: #fff;
	position: fixed;
	z-index: 1000;
	bottom: 5px;
}

.tabs a{
	font-size: 18px;
	margin-left: 10px;
	padding: 5px;
}

.tabs a span{
	padding: 5px;
	position: relative;
	bottom: 5px;
}

.tabs a #news{
	position: relative;
	bottom: 15px;
	right: 20px;
	text-decoration: none;
}

.tabs a:hover{
	text-decoration: none;
}

.main{
	width: 956px;
	height: auto;
	top: 70px;
	position: relative;
	z-index: 200;
}


.status-p{
	background-color: #fff;
    width: 244px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #d6dee5;
    padding-bottom: 20px;
    position: fixed;
    z-index: 200;
}

.wtf{
	border-radius: 10px;
	width: 60px;
	height: 60px;
	margin-right: 3px;
	left: 5px;
	position: relative;
	top: 40px;
}

.wtf::before{
	content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.02);
}

.status-p span{
	padding: 5px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    left: 10px;
    position: relative;
    top: 5px;
}

#get{
	text-align: center;
    padding: 9px 0;
    width: 100%;
    border-radius: 4px;
    background-color: #ffecd9;
    color: #faa200;
    font-weight: bold;
    position: relative;
    font-size: 14px;
}

.status-p li{
	display: flex;
    align-items: center;
    padding: 10px 8px 0;
}

.status-p a:hover{
	text-decoration: none;
}

.status-p #linksn{
	color: #666;
	width: 100%;
	padding: 2px;
}

.status-p #linksn:hover{
	background: #eee;
}

.error{
	background-color: #ffecd9;
    color: #faa200;
    position: relative;
    text-align: center;
}

.error span{
	color: #faa200;
	font-size: 19px;
}

.feed{
	width: 500px;
	height: auto;
	position: relative;
	bottom: -30px;
	left: 50px;
	padding-bottom: 50px;
}

.news{
	width: 100%;
	height: auto;
	padding-bottom: 10px;
	background: #fff;
	border: 1px solid #d6dee5;
	margin-top: 30px;
}

.newst{
	width: 100%;
	height: auto;
	padding-bottom: 10px;
	background: #fff;
	border: 1px solid #d6dee5;
	margin-top: 20px;
	border-radius: 10px;
}

.news p{
	color: #333;
	width: 100%;
	background: #eee;
	padding: 0px;
}

.news a{
	margin-left: 5px;
	display: inline-block;
    padding: 0 3px;
    text-align: center;
    text-decoration: none !important;
    font-size: 14px;
    color: #333 !important;
    line-height: 18px;
    height: 20px;
    width: 85px;
    background-color: #CBE1F2;
    -moz-border-radius: 2px;
    /* border: 1px solid #D6DEE5; */
    border-radius: 4px;
    color: #333;
}

.news li{
	width: 100%;
	margin-top: 10px;
}

.news span{
	display: inline-block;
	color: #258fb8;
	margin-left: 10px;
}

.news li img{
	margin-left: 10px;
	width: 150px;
	height: 100px;
}

#bottom-news{
	width: 150px;
	height: 20px;
	background: #eee;
	margin-left: 10px;
}

#nt li{
	display: inline-block;
	width: 150px;
	margin-top: 10px;
	position: relative;
}

#nts li{
	display: inline-block;
	width: 45px;
	margin-top: 10px;
	position: relative;
}

.news .user-s img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	bottom: 10px;
	position: relative;
}

.news .user-s{
	width: 50px !important;
	margin-left: 10px;
}

.news .nani{
	background: transparent;
	padding: 0;
	width: auto;
}

.news .what{
	background: #0097dc;
	width: auto;
	padding: 5px;
	color: #fff;
}

.slider{
	height: 130px !important;
}

.slider .uk-inline{
	width: 150px;
	height: 80px;
	background: transparent;
}

.slider img{
	width: 150px;
	height: 80px;
}

.slider #photoho{
	width: 160px;
}

#sejapremium{
	z-index: 5000;
}

#publish{
	z-index: 5000;
}

#setting{
	background: #eee;
	border-radius: 50%;
	cursor: pointer;
}

#setting:hover{
	background: #555;
	color: #fff;
}

#setar{
	position: relative;
	right: 20px;
	float: right;
	position: relative;
	top: -40px;
	width: auto;
	height: auto;
}

.settings-div{
	width: 140px;
	background: #fff;
	height: auto;
	position: absolute;
	z-index: 300;
	float: right;
	right: 0;
	top: 65px;
	border: 2px solid #D6DEE5;
	box-shadow: 1px 1px 1px rgba(0,0,0,.50);
	display: none;
}

.settings-div li{
	width: 90%;
	cursor: pointer;
}

.settings-div li:hover{
	background: #eee;
}

.settings-div:hover{
	display: block;
}

#setar:hover + .settings-div{
	display: block;
}

.profile{
	width: 100%;
	height: auto;
	background: transparent;
	position: relative;
	top: 25px;
	float: right;
	right: 0;
}

.profiles{
	width: 1220px;
	height: auto;
	position: relative;
	bottom: 20px;
}

.background-cover{
	width: 100%;
	height: 300px;
	background: #fff;
	background-size: cover;
	border: 1px solid rgba(0,0,0,.60);
}

.avatar-cover{
	width: 150px;
	height: 150px;
	position: relative;
	background-size: cover;
	top: 180px;
	left: 50px;
	border: 3px solid #fff;
	z-index: 100;
	border-radius: 50%;
}

#bottom-post{
	width: 100%;
	height: 40px;
	border-top: 1px solid #d6dee5;
	margin-left: 0px;
	position: relative;
}

#bottom-post span{
	float: left;
	color: #555;
	margin-left: 10px;
	top: 15px;
	position: relative;
	cursor: pointer;
}

#bottom-post span:hover{
	color: #1e87f0;
}

#bottom-post .ativo-like{
	color: #1e87f0;
}
 .totallike{
	padding: 5px;
	position: relative;
	left: 10px;
}

.back{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.70);
	position: relative;
	bottom: 155px;
	right: 0;
}

.seguir{
	float: right;
	position: relative;
	width: auto;
	height: auto;
	background: rgba(0,0,0,.80);
	top: 235px;
	right: 10px;
	padding: 10px;
	z-index: 300;
}

.editprofile{
	width: 100%;
	height: auto;
}

.editprofilere{
	width: 600px;
	background: #fff;
	height: auto;
	border-bottom: 1px solid #d6dee5;
	padding-bottom: 20px;
	margin-top: 10px;
	position: relative;
	left: 300px;
}

.avatar-cover-edit{
	width: 150px;
	height: 150px;
	position: relative;
	background-size: cover;
	border: 3px solid rgba(0,0,0,.60);
	z-index: 100;
}

.background-cover-edit{
	width: 100%;
	height: 300px;
	background: #fff;
	background-size: cover;
}

.overflow{
	background: rgba(0,0,0,.80);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#logos:hover{
	text-decoration: none;
}

.postagem{
	position: relative;
	top: 0px;
	width: 660px;
	background: transparent;
}

#bolts{
	background: #eee;
	border-radius: 50%;
	cursor: pointer;
	width: 40px;
	height: 40px;
	position: relative;
	float: right;
}

#bolts svg{
	width: 40px;
	height: 40px;
}

#bolts:hover{
	background: #555;
	color: #fff;
}

#user{
	background: #eee;
	border-radius: 50%;
	cursor: pointer;
	width: 40px;
	height: 40px;
	position: relative;
	float: right;
}

#user:hover{
	background: #555;
	color: #fff;
}

#user svg{
	width: 30px;
	height: 30px;
	position: relative;
	left: 5px;
	top: 5px;
}

.logo-div{
	width: 200px;
	height: 50px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.uk-comment-title{
	font-size: 1.05rem !important;
}

.avatar{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: 15px;
	position: relative;
	z-index: 1500;
	right: 0px;
}

.status-s{
	-webkit-border-radius: 2px;
    border-radius: 2px 2px 0 0;
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    position: fixed;
    height: 200px;
    width: 190px;
    border: 1px solid #d6dee5;
}

.newss{
	width: 244px;
	height: auto;
	padding-bottom: 10px;
	background: #fff;
	border: 1px solid #d6dee5;
	margin-top: 30px;
	position: fixed;
	top: 400px;
}

.newss p{
	color: #333;
	width: 100%;
	background: #eee;
	padding: 0px;
}

.newss .what{
	background: #0097dc;
    width: auto;
    padding: 1.5px;
    color: #fff;
}

.newss li{
	width: 100%;
	margin-top: 10px;
}

.newss span{
	display: inline-block;
	color: #258fb8;
	margin-left: 10px;
}

.newss li img{
	margin-left: 10px;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	bottom: 5px;
	position: relative;
}

.newsst{
	width: 244px;
	height: auto;
	padding-bottom: 10px;
	background: #fff;
	border: 1px solid #d6dee5;
	margin-top: 30px;
	position: fixed;
	top: 35px;
}

.newsst p{
	color: #333;
	width: 100%;
	background: #eee;
	padding: 0px;
}

.newsst .what{
	background: #0097dc;
    width: auto;
    padding: 1.5px;
    color: #fff;
}

.newsst li{
	width: 100%;
	margin-top: 10px;
	margin-left: 10px;
}

.newsst span{
	display: inline-block;
	color: #258fb8;
	margin-left: 10px;
}

.newsst li img{
	margin-left: 10px;
	width: 150px;
	height: 100px;
	bottom: 5px;
	position: relative;
}

.newsss{
	width: 244px;
	height: auto;
	padding-bottom: 10px;
	background: #fff;
	border: 1px solid #d6dee5;
	margin-top: 30px;
	position: fixed;
	top: 230px;
}

.newsss a{
	margin-left: 5px;
	display: inline-block;
    padding: 0 3px;
    text-align: center;
    text-decoration: none !important;
    font-size: 14px;
    color: #333 !important;
    line-height: 18px;
    height: 20px;
    width: 85px;
    background-color: #CBE1F2;
    -moz-border-radius: 2px;
    /* border: 1px solid #D6DEE5; */
    border-radius: 4px;
    color: #333;
}

.newsss li{
	width: 100%;
	margin-top: 10px;
	position: relative;
	bottom: 10px;
}

.newsss span{
	display: inline-block;
	color: #258fb8;
	margin-left: 10px;
}

.left-bar{
	width: auto;
	height: 100%;
	left: 0;
	position: fixed;
	bottom: 0px;
}

.bakat{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.80);
	left: 0;
	top: 0;
	z-index: 9000000;
}

.tuturial{
	width: 300px;
	height: auto;
	position: relative;
	background: #fff;
	padding: 1px;
}

.tuturial p{
	padding: 3px;
	font-size: 19px;
}

#tuto1{
	top: 310px;
	left: -70px;
	display: block;
}

#tuto2{
	display: none;
	top: 190px;
	left: 170px;
}

#tuto5{
	display: none;
	top: 140px;
	left: 80px;
	width: 300px;
}

#tuto3{
	display: none;
	top: 110px;
	left: 80px;
	width: 300px;
}

#tuto4{
	display: none;
	top: 140px;
	left: 80px;
	width: 300px;
}

#header{
	background: #1e87f0;
	width: 100%;
	position: fixed;
	height: 50px;
	z-index: 4000;
}

#header #logos{
	color: #fff;
	font-size: 34px;
	text-align: center;
}

#header #sair{
	position: relative;
	bottom: 37px;
	color: #fff;
	font-size: 18px;
}

#header #sair:hover{
	text-decoration: none;
	color: #eee;
}

.buttons{
	width: 520px;
	height: 70px;
	background: linear-gradient(180deg,#f1f1f1,#f1f1f1 73%,hsla(0,0%,95%,0));
	position: fixed;
	top: 50px;
	z-index: 100000;
}

.buttons .btn{
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.15);
	border-radius: 50%;
	padding: 8px;
	position: relative;
	top: 15px;
}

.buttons .btn:hover{
	box-shadow: 0 1px 4px rgba(0,0,0,.45);
}

.buttons .btns{
	background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.15);
	border-radius: 10px;
	padding: 8px;
	position: relative;
	top: 15px;
	margin-left: 10px;
}

.buttons .btns:hover{
	text-decoration: none;
	box-shadow: 0 1px 4px rgba(0,0,0,.45);
}

.uk-lightbox{
	z-index: 5000000000 !important;
}

.comment{
	width: 100%;
	position: relative;
	height: auto;
	background: #fff;
}

.comment input{
	width: 96%;
	border: none;
	height: 30px;
	padding: 5px;
	position: relative;
	top: -5px;
	border: 1px solid #1e87f0;
	border-radius: 10px;
	outline: none !important;
	font-size: 17px;
	left: 10px;
}

.comment li{
	margin-top: 10px;
	background: #eee;
}

.comment li img{
	position: relative;
}

#headerpeople{
	width: 960px;
	position: fixed;
	height: 70px;
	background: #fff;
	z-index: 1000;
	top: 50px;
	display: none;
	box-shadow: 1px 1px 1px rgba(0,0,0,.50);
}

#headerpeople span{
	font-size: 24px;
	padding: 10px;
	position: relative;
	top: 5px;
}